<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
        rel="stylesheet" type="text/css">
        <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
        rel="stylesheet" type="text/css">
    </head>

<body>
<nav class="navbar navbar-inverse" role="navigation">  
   <ul id="myTab" class="nav navbar-nav">
      <li class="active">
         <a href="#home" data-toggle="tab" class="navbar-brand" onclick="location.href=('/')">Home</a>

         <li><a href="#" onclick="location.href=('/education')">Education</a></li>

         <li><a href="#" onclick="location.href=('/income')">Income</a></li>

         <li><a href="#" onclick="location.href=('/smoke')">Smoking</a></li>

         <li><a href="#" onclick="location.href=('/obesity')">Obesity</a></li>

         <li><a href="#" onclick="location.href=('/alcohol')">Alcohol</a></li>

         <li><a href="#" onclick="location.href=('/analyse')">Analyse</a></li>

   </ul>
</nav>
<!Rolling pictures>
        <div class="cover">
            <div class="cover-image" style="background-image: url({{ url_for('static', filename='emo.jpg') }});"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="text-inverse" ><font color="black">Explore Sentiment</font> </h1>
                        <p class="text-inverse"><font color="black">Go and discover sentimenr analysis here.</font></p>
                        <br>
                        <br>
                      <a class="btn btn-lg btn-primary" href="#detail">Go!</a>
                    </div>
                </div>
            </div>
        </div>


<!Introduction 3 columns>
<div class="section" id="detail">
   <div class="container">
      <div class="row">
         <div>
            <h2 class="text-muted">What is sentiment analysis</h2>
            
            <font size="5">
            Sentiment analysis is to extract the information from an individual about attitute toward the current sitution.
                The sentiment analysis in the socical media is to analyze based on the text posted by an individual, and then the coresponding score for the sentiment analysis will be produced to see what their attitude is such as  positive, negative and neutral.
               
            </font>
         </div>
        
         
      </div>
   </div>
</div>

<!Page devider>
<div class="section">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <hr>
         </div>
      </div>
   </div>
</div>


<!Structure>
<div class="section">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h2 class="text-muted">Factor Selection</h2>
            <p><font size="5"> The factors we choose are obesity rate, education (graduation rate of bachelor), smoking rate, alcohol abuse rate and average income in each corresponding area where twitter users post their tweets.
                Firstly, the obesity and alcohol abuse can represent the diet and exercise of people in the corresponding area, and how the diet and exercise influence emotion. Secondly, the education data could represent whether the people accepted high level of education are happier than those who doesn't accept. Thirdly, the income could represent whether high income could bring more happiness or not.
                At last, we want to explore the relationship between sentiment and smoking rate. All data mentioned above are from AURIN.</font>
            </p><br/>
         </div>

      </div>
   </div>
</div>

<!Page devider>
<div class="section">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <hr>
         </div>
      </div>
   </div>
</div>

<!Team Members>
<div class="section" style="background-color:rgb(216,216,216);">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h1 class="text-center">Team Member</h1>
            <p class="text-center">Yes, we aim to analyse big data!<br><br></p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-2">
            <img src="{{ url_for('static', filename='hg.jpeg') }}"
            class="img-circle img-responsive">
         </div>
         <div class="col-md-4">
            <h3 class="text-left">Xuanhao Hu</h3>
         </div>
         <div class="col-md-2">
            <img src="{{ url_for('static', filename='cyx.jpeg') }}"
            class="img-circle img-responsive">
         </div>
         <div class="col-md-4">
            <h3 class="text-left">Yuxin Chen</h3>
         </div>
      </div>


      <div class="row">
         <div class="col-md-2">
            <img src="{{ url_for('static', filename='d.jpeg') }}"
            class="img-circle img-responsive">
         </div>
         <div class="col-md-4">
            <h3 class="text-left">Xiaodong Deng</h3>
         </div>
         <div class="col-md-2">
            <img src="{{ url_for('static', filename='me.jpeg') }}"
            class="img-circle img-responsive">
         </div>
         <div class="col-md-4">
            <h3 class="text-left">Chongjing Zhang</h3>
         </div>
      </div>


      <div class="row">
         <div class="col-md-2">
            <img src="{{ url_for('static', filename='7.jpeg') }}"
            class="img-circle img-responsive">
         </div>
         <div class="col-md-4">
            <h3 class="text-left">Chengruo Huang</h3>
         </div>
      </div>

   </div>
</div>


<script>
$(function()
{
  $('#myCarousel').carousel({
  interval: false
})
}
  )
</script>

</body>

</html>
