<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}" >
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">

var emo=[]
var smok=[]
var names=[]

 function draw() {
    names=[]
    emo=[]
     smok=[]
     var n = {};
     var label = document.getElementById("place"); //e=label
     n['place'] = label.options[label.selectedIndex].value;
     n['factor'] = 'obesity';
     var flask_data;
    $.ajax({
        type: 'POST',
        url: "/backend",
        data:JSON.stringify(n),
        dataType: 'json', //注意：这里是指希望服务端返回json格式的数据
        async: false,
        success: function(data) {
            //console.log(data)
            flask_data = data// 这里的data就是json格式的数据
        },
        error: function(xhr, status, error) {
            console.log(error);
        }
    });
     console.log(flask_data)
     for(var k in flask_data){
         names.push(k);
         emo.push(flask_data[k][0]);
         smok.push(flask_data[k][1]);
     }
     while(names.length<8){
         names.push(" ")
     }
     console.log(names);
     console.log(emo);


 //以下是画图的部分
  var chart = new CanvasJS.Chart("chartContainer",{
    title:{
      text: "Area twitter"
    },
    axisX:{
      valueFormatString: "####",
      interval: 1
    },
    axisY:[{
      title: "Average of Sentiment scoring",
      lineColor: "#369EAD",
      titleFontColor: "#369EAD",
      labelFontColor: "#369EAD"
    },
    {
      title: "",
      logarithmic: true,
      lineColor: "#FDFEFE ",
      titleFontColor: "#C24642",
      labelFontColor: "#C24642"
    }],
    axisY2:[{
      title: "Obesity rate %",
      lineColor: "#7F6084",
      titleFontColor: "#7F6084",
      labelFontColor: "#7F6084"
    },
    {
      title: "",
      logarithmic: true,
      interval: 1,
      lineColor: "#FDFEFE",
      titleFontColor: "#86B402",
      labelFontColor: "#86B402"
    }],

  data: [
  {
    type: "column",
    showInLegend: true,
    //axisYIndex: 0, //Defaults to Zero
    name: "Average of Sentiment scoring",
    xValueFormatString: "####",
    dataPoints: [
      { x: 1, y: emo[0],label:names[0]},
      { x: 2, y: emo[1],label:names[1]},
      { x: 3, y: emo[2],label:names[2]},
      { x: 4, y: emo[3],label:names[3]},
      { x: 5, y: emo[4],label:names[4]},
      { x: 6, y: emo[5],label:names[5]},
      { x: 7, y: emo[6],label:names[6]},
      { x: 8, y: emo[7],label:names[7]}
    ]
  },

  {
    type: "column",
    showInLegend: true,
    axisYType: "secondary",
    //axisYIndex: 0, //Defaults to Zero
    name: "Obesity rate",
    xValueFormatString: "####",
    dataPoints: [
      { x: 1, y: smok[0],label:names[0]},
      { x: 2, y: smok[1],label:names[1]},
      { x: 3, y: smok[2],label:names[2]},
      { x: 4, y: smok[3],label:names[3]},
      { x: 5, y: smok[4],label:names[4]},
      { x: 6, y: smok[5],label:names[5]},
      { x: 7, y: smok[6],label:names[6]},
      { x: 8, y: smok[7],label:names[7]}
    ]
  },
  ]});

  chart.render();
}

</script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
<!Navigation>
<nav class="navbar navbar-inverse" role="navigation">
   <ul id="myTab" class="nav navbar-nav">
      <li class="active">
         <a href="#home" data-toggle="tab" class="navbar-brand" onclick="location.href=('/')">Home</a>

         <li><a href="#" onclick="location.href=('/education')">Education</a></li>

         <li><a href="#" onclick="location.href=('/income')">Income</a></li>

         <li><a href="#" onclick="location.href=('/smoke')">Smoking</a></li>

         <li><a href="#" onclick="location.href=('/obesity')">Obesity</a></li>

         <li><a href="#" onclick="location.href=('/alcohol')">Alcohol</a></li>

         <li><a href="#" onclick="location.href=('/analyse')">Analyse</a></li>
   </ul>
</nav>
<h3 style="text-align:center;"> Enter the area name in Australia <select id="place" style="position: center; top: 8px; left: 5px;" >
       <option value="Australia">Australia</option>
       <option value="NSW">NSW</option>
       <option value="VIC">VIC</option>
       <option value="QLD">QLD</option>
       <option value="ACT">ACT</option>
       <option value="WA">WA</option>
       <option value="TAS">TAS</option>
       <option value="SA">SA</option>
       <option value="NT">NT</option>
       </select>
    <input type="button" value="search" name="search" onclick="draw()" ><br><br>
</h3>
<div id="chartContainer" style="height: 300px; width: 100%;">
</div>
</body>
</html>
